
{{#if formShowing}}
  <form class="form-group">
    <label for="edit-section">edit category</label>
    {{input value=section placeholder=category.section}}
    <br>
    <label for="edit-location">edit Location</label>
    {{input value=location placeholder=category.location}}
    <br>
    <button {{ action 'editCategory' category }} class='btn btn-default'>Confirm</button>
  </form>
  {{ else }}
    <span class="clickable" {{action 'showForm'}}>Edit /</span>
{{/if}}
<span class="text-danger deletable" {{action 'destroyCategory' category}} > / Delete</span>
