{{outlet}}

<h2>Details for {{model.title}}</h2>
<h5>Contact info:</h5>
<p>Email: {{model.email}}</p>
<p>Date Posted: {{model.date}}</p>
<hr>
<strong>{{model.details}}</strong>

<!-- for displaying a single model's info -->
